# Python process artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS metadata (Mac/Windows)
.DS_Store
Thumbs.db
desktop.ini

# Environment & Secrets
.vscode
.env
.venv/
env/
venv/

# Docker local system data
.docker/